<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696215922746-8u176p38n863juk8di8ulb18qu876aeu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696215922746-8u176p38n863juk8di8ulb18qu876aeu</string>
	<key>API_KEY</key>
	<string>AIzaSyCKZcpP9hRDwppauvOtZbEZJDGWQ5nwBNU</string>
	<key>GCM_SENDER_ID</key>
	<string>696215922746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.chatbot</string>
	<key>PROJECT_ID</key>
	<string>chat-bot-90318</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-bot-90318.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696215922746:ios:50bba1a8543e000072ad03</string>
</dict>
</plist>